@font-face{
    font-family:"Roboto";
    src:url("./Roboto-Black.ttf");
    font-style:normal;
}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    font-family:sans-serif;
    
}

#toggle{
    /*display:none;*/
}

.hamburger{
    position:absolute;
    top:5rem;
    right:5%;
    margin-left:-2rem;
    margin-top:-45px;
    width:2rem;
    height:45px;
    z-index:5;
}

.hamburger div{
    position:relative;
    width:3rem;
    height:7px;
    border-radius:3px;
    margin-top:8px;
    transition: all 0.3s ease-in-out;
}

.main{
    position:fixed;
    width:100%;
    height:100%;
    background-color:
}


.items{
    background-color:#d3d3d3;
}

.left{
    padding:1rem;
    margin:1rem;
   
}

.sidebar{
    list-style-type: none;
    line-height:2rem;
    vertical-align:middle;
}

.right{
    margin-left:1rem;
   
}

.project{
    padding:1rem;
    margin:1rem;

}



.header{
    padding:2rem;
    background-color: blue;
    color:#fff;
    display:flex;
    gap:1rem;
    font-family:"Roboto";
    

}

.start{
    color:red;
}

#footer{
    background-color:blue;
    padding:1rem;
    margin:0 auto;
    color:#fff;
    
}

