@font-face{
    font-family:"Roboto";
    src:url("./Roboto-Black.ttf");
    font-style:normal;
}

body{
    font-family:"Roboto";
}
*{
    padding:0;
    margin:0;
}
.header{
    padding:2rem;
    background-color: blue;
    color:#fff;
    display:flex;
    gap:1rem;

}

.start{
    color:red;
}