@font-face{
    font-family:"Roboto";
    src:url("./Roboto-Black.ttf");
    font-style:normal;
}

body{
    font-family:sans-serif;
}

.main{
    display:flex;
}

.item{
    margin:2rem;
}

.left{
    padding:1rem;
   
}

.sidebar{
    list-style-type: none;
    line-height:2rem;
    vertical-align:middle;
}

.right{
    margin-left:1rem;
}

.project{
    padding:1rem;

}


*{
    padding:0;
    margin:0;
}
.header{
    padding:2rem;
    background-color: blue;
    color:#fff;
    display:flex;
    gap:1rem;
    font-family:"Roboto";

}

.start{
    color:red;
}